<header>
  <nav id="main-header"
       class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand text-uppercase mr-auto">Cars</span>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="btn btn-light"
           ngbTooltip="Add car"
           placement="bottom" (click)="onAdd()">
          <i class="bi-plus"></i> <span
          class="d-none d-sm-inline">Add</span></a>
      </li>
    </ul>
  </nav>
</header>

<section id="cars">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
              <th>Model</th>
              <th>Price</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carDto of dtos | async">
              <td>{{carDto.model}}</td>
              <td>{{carDto.price}}</td>
              <td class="text-right">
                <a class="btn-sm btn-outline-secondary"
                   ngbTooltip="Edit car"
                   placement="top"
                   (click)="onEdit(carDto)">
                  <i class="bi-pen"></i> <span
                  class="d-none d-md-inline">Edit</span></a>
                <span data-toggle="modal" data-target="#deleteDialog">
                            	<a class="btn-sm btn-outline-secondary"
                                 ngbTooltip="delete car"
                                 placement="top">
                                <i class="bi-x"></i> <span class="d-none d-md-inline">Delete</span></a>
                            	</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
